.App{
  background-image: url("./img/lum3n-XMLLRlga05I-unsplash.jpg");
  background-color: firebrick;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  height: 101vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

}

.header {
  backdrop-filter: opacity(5%);
  margin-left: 60px;
  font-size: calc(20px + 2vmin);
  font-family: lucida handwriting;
  color: white;
}


.ent {
  margin-left: 20rem;
  margin-top: 15rem;
  padding: 5px;

}

.ent hover{
  background-color: olivedrab;

}

  
