.container{
	background-color: beige;
	width: 100%;
	display: flex;
	flex-direction: row;
	
}
.intro, .text{
	background-color: white;
	margin-left: 5rem;
	margin-top: 5rem;
	border: 4px double peru;
	border-radius: 10%;
	box-sizing: border-box;
	height: 95vh;
	width: 45vw;
}

.intro h2{
	font-style: italic;
	margin-left: 3rem;
	margin-right: 3rem;
	padding: 20px;
	color: peru;
}
.intro img{
	border: 1px solid white;
	border-radius: 3px;
	display: flex;
	align-items: center;
	margin-left: 3rem;
	height: 25vh;
	width: 25vw;
	
}

.intro p {
	display: flex;
	justify-content: right;
	margin-top: 1rem;
	color: black;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	padding: 5px;
	font-size: calc(4px + 2vmin);
}
.text{
	diplay: flex;
	flex-direction: column;
	
}
.sc{
	display: flex;
	flex-direction: column;
	font-size: calc(2px + 2vmin);
	padding: 20px;
	margin-top: 5rem;
}
.sc span {
	display: flex;
	justify-content: flex-start;
  

}


.text p  .text span{
	margin-top: 5rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;

}

.dt{
	margin-top: 1.5rem;
	font-weight: bold;
}

.containerLoad{
	background-color: white;
	position: relative;
	width: 110rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.containerLoad img {
	width: 20%;

}