.container{
	background-color: linen;
	display: grip;
	grid-template-rows: auto auto auto auto auto auto auto;
	grid-template-columns: auto auto;
	gap: 40px;
	padding: 10px;

}

.choice, .usu{
	background-image: url('../../img/lum3n-XMLLRlga05I-unsplash.jpg');
	color: whitesmoke;
	border-radius: 50%;
	shape-image-threshold: 0.7;
	height: 12vh;
	margin-right: 20px;
}

.choice{
	width: 7vw;
	font-size: calc(1px + 2vmin);
}

.usu{
	
	width: 10vw;
	font-size: calc(6px + 2vmin);

}

.choice:hover{
	border-color: black;
    border-size: 100px;
    color: peru;
}